.post-clickable {
    background-color: #666;
    text-align: center;
    position: relative;
    padding: 20px 0;
}

.post-clickable h1 {
    color: white;
    font-size: 18px;
    margin: 10px;
}

.post-clickable h2 {
    color: white;
    margin: 0;
    line-height: 14px;
    font-size: 14px;
}

