.bond-line-wrapper {
    margin: 0px;
    font-size: 10px;
    color: #555;
    border-bottom: 1px solid #DADADA;
}



.bond-line {
    display: grid;
    grid-template-columns: 20% 30% 10% 10% 30%;
    flex-wrap: wrap;    
    line-height: 60px;
    height: 60px;
}

.bond-line:hover {
    cursor: pointer;
}

.bond-line--close:hover {
    background-color: #dfdfdf;
}

.bond-detail {
    -webkit-transition: all ease-in-out 0.5s; /* Safari */
    transition: all ease-in-out 0.5s;
    overflow: hidden;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.bond-close {
    display: none;
    max-height: 0px;
}

.bond-opening {
    display: block;
    max-height: 0px;
}


.bond-opened {
    display: block;
    max-height:2000px;
}

.bond-msg {
    margin: 5px;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    color: white;
    padding: 15px;
    font-family: Roboto;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: space-between;
}

.bond-msg h5{
    margin: 5px;
}

.bond-chart h5{
    margin: 0;
}

.bond-msg p{
    margin: 0;
}

.bond-msg-img {
    margin-bottom: 60px;
    text-align: center;
}

.bond-chart {
    height: 300px;
    padding: 20px;
    color: white;
}

.column--black{
    color: #000000;
    font-weight: bold;
}

.bondline__linerate{
    background-color: #0b65ac;
    color: #ffffff;
    margin-left: 6px;
    padding: 3px;
    border-radius: 5px;
}

.IPCA--color {
    color: #E21C1C;
}

.IPCA--bkcolor {
    background-color: #E21C1C;
}

.PRE--color {
    color: #12A30F;
}

.PRE--bkcolor {
    background-color: #12A30F;
}