header {
    background-color: #1996F9;
    box-shadow: 0 0 4px rgba(0, 0, 0, .14), 0 4px 8px rgba(0, 0, 0, .28);
    position: fixed;
    top: 0;
    height: 60px;
    width: 100%;
    z-index: 20;
    text-align: center;
    margin: 0;
    line-height: 60px;
}

.home-link{
    position: absolute;
    left:20px;
    font-size: 18px;
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
}

.nav-link {
    border-radius: 5px;
    padding: 3px;
    text-decoration: none;
    color: #ffffff;
    margin: 0 10px;
    font-size: 14px;
}

.nav-link-active {
    border-radius: 5px;
    padding: 3px;
    text-decoration: none;
    margin: 0 5px;
    font-size: 14px;
    color: yellow;
    font-weight: bold;
}
