

.bond-detail {
    -webkit-transition: all ease-in-out 0.5s; /* Safari */
    transition: all ease-in-out 0.5s;
    overflow: hidden;
}

.bond-close {
    display: none;
    max-height: 0px;
}

.bond-opening {
    display: block;
    max-height: 0px;
}

.bond-opened {
    display: block;
    max-height:2000px;
}
