.timeline {
    max-width: 800px;
    margin: 60px auto 0 auto;
    display: flex;
}


.timeline-colum-post {
    flex: 1;
  }

.timeline-colum-recommend {
    width: 300px;
    margin: 30px;
    display: block;
}

@media screen and (max-width: 800px) {
    
    .timeline-colum-recommend {
        display: none;
    }
    
}