.timeline {
    max-width: 800px;
    margin: 60px auto 0 auto;
    display: flex;
}


.timeline-colum-post {
    max-width: 600px;
  }

.timeline-colum-recommend {
    max-width: 300px;
    margin: 30px;
}

@media screen and (max-width: 400px) {
    .timeline-colum-recommend {
        display: none;
    }
}